* {
  box-sizing: border-box; }

body {
  margin: 0; }

.row {
  width: 100%;
  display: flex;
  flex-direction: row; }

.columns {
  width: 100%;
  display: flex;
  flex-direction: column; }

.col-2-of-12 {
  width: 16.66667%; }

.col-3-of-12 {
  width: 25%; }

.col-4-of-12 {
  width: 33.33333%; }

.col-6-of-12 {
  width: 50%; }

.col-12-of-12 {
  width: 100%; }

.col-3-of-12-wol {
  width: 23.75%;
  margin-left: 1%; }

.col-4-of-12-wol {
  width: 32%;
  margin-left: 1%; }

.col-4-of-12-wol:nth-child(3) {
  width: 32%;
  margin: 0 1%; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 20px; }

.nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px; }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/laptop_1920.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh; }

.nav-wrapper {
  padding-top: 20px; }

.nav-list {
  text-align: right;
  list-style: none;
  margin-top: 0; }

.nav-item {
  margin-right: 2%;
  display: inline-block; }

.nav-item a:link, .nav-item a:visited {
  transition: border 0.2s; }

.nav-item a:hover, .nav-item a:active {
  border-bottom: 2px solid #1edab5; }

.text-logo {
  padding: 0 0 0 5%;
  color: #fff; }

.hero {
  margin-top: 480px;
  text-align: center; }

.hero-message {
  font-size: 2em;
  font-weight: 300;
  color: #fff; }

.hero-word-developer {
  color: #1edab5; }

.aboutme {
  margin-top: 55px; }

.aboutme-header h2 {
  font-size: 1.3em;
  font-weight: 400;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

.aboutme-header:after {
  display: block;
  width: 10%;
  height: 2px;
  background-color: #1abc9c;
  content: " ";
  margin-left: 45%; }

.expertise {
  margin: 35px 0;
  padding: 0 2%; }

.expertise h3 {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  margin: 10px 0; }

.expertise p {
  text-align: center;
  font-size: 0.9em; }

.expertise-icon {
  font-size: 4em;
  color: #1abc9c;
  margin-left: 43%;
  text-align: center; }

.personal-projects {
  margin-top: 55px;
  padding-bottom: 55px;
  background-color: #169e83; }

.personal-projects-header h2 {
  padding-top: 55px;
  font-size: 1.3em;
  font-weight: 400;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff; }

.personal-projects-header:after {
  display: block;
  width: 10%;
  height: 2px;
  background-color: #fff;
  content: " ";
  margin-left: 45%; }

.projects-container {
  margin-top: 60px; }

.project-thumbnail, .project-thumbnail:hover {
  height: 250px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: background 0.2s; }

.project-thumbnail h3, .project-thumbnail:hover h3 {
  width: 100%;
  text-align: center;
  padding-top: 80px;
  transition: color 0.2s; }

.project-thumbnail:hover {
  background-color: #fff; }

.project-thumbnail h3 {
  color: #fff; }

.project-thumbnail:hover h3 {
  color: #169e83; }

footer {
  height: 200px;
  background-color: #333;
  display: flex;
  flex-direction: column-reverse; }

.copyright-container {
  color: #fff;
  text-align: center;
  padding: 10px 0; }
