// Fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Lusitana', serif;

//Colors
$color-primary: #1abc9c;
$color-brighter: #1edab5;
$color-darker: #169e83;

//Devices
$medium-device: 430px;
$big-device: 752px;
