// EXPERTISE COMPONENT STYLES
.expertise {
  margin: 35px 0;
  padding: 0 2%;
}

.expertise h3 {
  font-size: 1.1em;
  font-weight: bold;

  text-align: center;
  margin: 10px 0;
}

.expertise p {
  text-align: center;

  font-size: 0.9em;
}

.expertise-icon {
  font-size: 4em;

  color: $color-primary;

  margin-left: 43%;

  text-align: center;
}
