// FLEX GRID

// ORDERS

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}


@media only screen and (min-width: $big-device){
  // GRID CONTAINERS
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .columns {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  // COLUMNS

  .col-2-of-12 {
    width: (100% / 6);
  }

  .col-3-of-12 {
    width: (100% / 4);
  }

  .col-4-of-12 {
    width: (100% / 3);
  }

  .col-6-of-12 {
    width: (100% / 2);
  }

  .col-12-of-12 {
    width: 100%;
  }


  // COLUMNS WITH OFFSET

  // wol := with offset to the left side meaning that the last child element has an offset to the left

  .col-3-of-12-wol {
    width: ((100% / 4) - (1% + 1% / 4));
    margin-left: 1%;
  }

  .col-4-of-12-wol {
    width: ((100% / 3) - (1% + 1% / 3));
    margin-left: 1%;
  }

  .col-4-of-12-wol:nth-child(3) {
    width: ((100% / 3) - (1% + 1% / 3));
    margin: 0 1%;
  }
}

@media only screen and (min-width: $medium-device) and (max-width: $big-device){
  // GRID CONTAINERS
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .columns {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  // COLUMNS

  .col-2-of-12 {
    width:100%;
  }

  .col-3-of-12 {
    width:100%;
  }

  .col-4-of-12 {
    width:100% ;
  }

  .col-6-of-12 {
    width: 50%;
  }

  .col-12-of-12 {
    width: 100%;
  }


  // COLUMNS WITH OFFSET

  // wol := with offset to the left side meaning that the last child element has an offset to the left

  .col-3-of-12-wol {
    width: (100% - (2% + 2% / 2));
    margin-left: 2%;
  }

  .col-4-of-12-wol {
    width: (100% - (2% + 2% / 2));
    margin-left: 2%;
  }

  .col-4-of-12-wol:nth-child(2) {
    width: ( 100% - (2% + 2% / 2));
    margin: 0 2%;
  }
}

@media only screen and (max-width: $medium-device){
  // GRID CONTAINERS
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .columns {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  // COLUMNS

  .col-2-of-12 {
    width: 100%;
  }

  .col-3-of-12 {
    width: 100%;
  }

  .col-4-of-12 {
    width: 100% ;
  }

  .col-6-of-12 {
    width: 50%;
  }

  .col-12-of-12 {
    width: 100%;
  }


  // COLUMNS WITH OFFSET

  // wol := with offset to the left side meaning that the last child element has an offset to the left

  .col-3-of-12-wol {
    width: (100% - (2% + 2% / 2));
    margin-left: 2%;
  }

  .col-4-of-12-wol {
    width: ( 100% - (2% + 2% / 2));
    margin-left: 2%;
  }

  .col-4-of-12-wol:nth-child(2) {
    width: ( 100% - (2% + 2% / 2));
    margin: 0 2%;
  }
}
