/* Flex layout for body */
body {
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
}

/* Flex layout for header */
header {
  order: 1;
  width: 100%;
  display: flex;
}

.header-first {
  order: 1;
}

.header-second {
  order: 2;
}

/* Flex layout for greeting div */
div.greeting {
  order: 2;
  display: flex;
  flex-direction: column;
}

/* Flex layout for main */
main {
  order: 3;
  display: flex;
  flex-direction: column;
}

/* Flex layout for footer */
footer {
  order: 4;
}
